{% extends 'parent.html' %}

{% block title %}Trainees List{% endblock %}

{% block content %}
    <h3>All Trainees</h3>
    
    <table border="1" cellpadding="10" cellspacing="0">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Track</th>
                <th>Branch</th>
                <th>Course</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for trainee in trainees %}
                <tr>
                    <td>{{ trainee.id }}</td>
                    <td>{{ trainee.first_name }} {{ trainee.last_name }}</td>
                    <td>{{ trainee.email }}</td>
                    <td>{{ trainee.track }}</td>
                    <td>{{ trainee.branch }}</td>
                    <td>{{ trainee.course.name }}</td>
                    <td>
                        <a href="{% url 'trainee_detail' trainee.id %}">View</a> | 
                        <a href="{% url 'update_trainee' trainee.id %}">Edit</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="6">No trainees found in the database.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}